body {
  background: #081E42;
  background-image: url(../img/hp/stars.svg);
  background-repeat: repeat;
  margin: 0;
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sans {
  font-family: 'Source Sans Pro', sans-serif;
}

.not-visible {
opacity: 0;
}

.delete {
  text-decoration: line-through;
}

.transition {
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s; /* Firefox < 16 */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
         -o-animation: fadein 0.5s; /* Opera < 12.1 */
            animation: fadein 0.5s;
}

.project-white {
  background-color: #ffffff
}

.project-white * {
  color: #071E42;
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

.mynav {
  margin: 2%;
}

#about-nav img, #contact-nav img {
  max-width: 120px;
  padding: 5%;
}

#home-top-nav img {
  max-width: 200px;
}

#sun-center {
  top: 28%;
}

/* ---------- Container for the orbiting circles animation ---------- */
#circle-orbit-container {
  position: relative;
  /* top: 20%;
  left: 20%; */
  height: 600px;
  width: 600px;
  margin-bottom: 5%;
}

/* ---------- Inner orbit - This is the circles closest to the central point ---------- */
#inner-orbit {
  z-index: 1;
  position: absolute;
  top: 125px;
  left: 125px;
  width: 350px;
  height: 350px;
  border: 2px #ffffff85 dashed;
  border-radius: 100%;
  -webkit-animation: spin-right 80s linear infinite;
  animation: spin-right 80s linear infinite;
}

/* ---------- Repeating styles for the inner orbiting circles ---------- */
.inner-orbit-circles {
  animation: rotate 80s reverse linear infinite;
  position: absolute;
  top: 10px;
  left: 0px;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-image: url(/img/hp/code.svg);
}

/* ---------- Middle orbit - This is the circles second closest to the central point ---------- */
#middle-orbit {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 500px;
  height: 500px;
  border: 2px #ffffff85 dashed;
  border-radius: 100%;
  -webkit-animation: spin-right 150s linear infinite;
  animation: spin-right 150s linear infinite;
}

/* ---------- Repeating styles for the inner orbiting circles ---------- */
.middle-orbit-circles {
  animation: rotate 150s reverse linear infinite;
  position: absolute;
  top: 25px;
  left: 20px;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-image: url(/img/hp/design.svg);
}

.btn-outline-dark:not(:disabled):not(.disabled).active, .btn-outline-dark:not(:disabled):not(.disabled):active, .show>.btn-outline-dark.dropdown-toggle {
  color: #fff;
  background-color: #071E42;
  border-color: #071E42;
}

.out-the-page {
  top:-30px;
}

.footer {
    margin-top: auto;
    border-top: 0.5px rgba(255, 255, 255, 0.485) solid;
}

@media screen and (max-width: 600px) {


#sun-center {
  top: 45%;
}


  #circle-orbit-container {
    height: 300px;
    width: 300px;
    margin-bottom: 30%;
  }

  /* ---------- Inner orbit - This is the circles closest to the central point ---------- */
  #inner-orbit {
    top: 95px;
    left: 50px;
    width: 200px;
    height: 200px;
  }

  /* ---------- Repeating styles for the inner orbiting circles ---------- */
  .inner-orbit-circles {
    top: -20px;
    left: 0px;
    height: 90px;
    width: 90px;
  }

  /* ---------- Middle orbit - This is the circles second closest to the central point ---------- */
  #middle-orbit {
    position: absolute;
    top: 40px;
    left: -5px;
    width: 310px;
    height: 310px;
  }
  

  /* ---------- Repeating styles for the inner orbiting circles ---------- */
  .middle-orbit-circles {
    top: 0px;
    left: 0px;
    height: 90px;
    width: 90px;
  }

  #about-nav img, #contact-nav img {
    max-width: 100px;
    padding: 2%;
  }

  .mynav {
    margin: 5% 0 5% 0;
  }

  #sun-center {
    top: 45%;
  }

  #home-top-nav img {
    padding: 0 10%;
  }


.out-the-page {
  top: 0px;
}


}


/* ---------- Animation ---------- */
@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ---------- Animation ---------- */


/* ---------- Fade In ---------- */
@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
/* ---------- Fade In ---------- */
